nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav ul li {
    display: inline-block;
}

nav li a {
    display: block;
    color: #000;
    width: 50px;
    padding: 5px 5px;
    text-decoration: none;
    align-content: center;
}

nav li a:hover {
    background-color: #000;
    color: white;
}